.bg-asistencia {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    opacity: .65 !important;
}

.text-asistencia {
    color: #AAE600 !important;
}

.bg-falta {
    background-color: rgb(235, 104, 100) !important;
    border-color: rgb(235, 104, 100) !important;
    opacity: .65 !important;
}

.text-falta {
    color: #FF0000 !important;
}

.bg-retardo {
    background-color: rgb(245, 230, 37) !important;
    border-color: rgb(245, 230, 37) !important;
    opacity: .65 !important;
}

.text-retardo {
    color: #FCC552 !important;
}

.bg-falta-justificada {
    background-color: rgb(245, 122, 0) !important;
    border-color: rgb(245, 122, 0) !important;
    opacity: .65 !important;
}

.text-falta-justificada {
    color: #FF0000 !important;
}




.custom-checkbox+label span::before {
    content: "";
    opacity: 0;
    width: 12px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    border-radius: 2px;
}



.vericaltext {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}





.btn-falta {
    width: 50px !important;
    height: 40px !important;
    padding: 0px !important;
    text-align: center !important;
    justify-content: center !important;
}

.btn-asistencia {
    width: 30px !important;
    height: 30px !important;
}





.img-grupo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}










/*  pricing 2*/


a {
    text-decoration: none;
}

.pricingTable {
    padding: 25px 10px 70px;
    margin: 0 15px;
    text-align: center;
    z-index: 1;
    position: relative
}

.pricingTable:after,
.pricingTable:before {
    content: "";
    position: absolute;
    left: 0
}

.pricingTable .price-value .amount {
    display: inline-block;
    font-size: 50px;
    font-weight: 700
}

.pricingTable .price-value .month {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    text-transform: uppercase
}

.pricingTable:before {
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0)
}

.pricingTable:after {
    width: 70px;
    height: 30px;
    background: #BFBFBF;
    margin: 0 auto;
    top: 70px;
    right: 0;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0)
}

.pricingTable .title {
    padding: 15px 0;
    margin: 0 -25px 30px;
    background: #BFBFBF;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative
}

.pricingTable .title:after,
.pricingTable .title:before {
    border-top: 15px solid #BFBFBF;
    border-bottom: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    content: ""
}

.pricingTable .title:before {
    border-left: 15px solid transparent;
    left: 0
}

.pricingTable .title:after {
    border-right: 15px solid transparent;
    right: 0
}

.pricingTable .price-value {
    margin-bottom: 25px;
    color: #BFBFBF
}







.pricingTable .pricing-content {
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    border-top: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f
}

.pricingTable .pricing-content li {
    font-size: 17px;
    color: #8f8f8f;
    line-height: 55px
}

.pricingTable .pricingTable-signup {
    display: inline-block;
    padding: 10px 30px;
    background: #BFBFBF;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    position: relative;
    transition: all .7s ease 0s
}

.pricingTable .pricingTable-signup:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all .6s ease-in-out 0s
}

.pricingTable .pricingTable-signup:hover:before {
    opacity: 1;
    transform: translate(0, -100%)
}

.pricingTable.blue .pricingTable-signup,
.pricingTable.blue .title,
.pricingTable.blue:after {
    background: #49b0ca
}

.pricingTable.blue .title:after,
.pricingTable.blue .title:before {
    border-top: 15px solid #407a88
}

.pricingTable.blue .price-value {
    color: #49b0ca
}

.pricingTable.pink .pricingTable-signup,
.pricingTable.pink .title,
.pricingTable.pink:after {
    background: #D86ECC
}

.pricingTable.pink .price-value {
    color: #D86ECC
}

.pricingTable.pink .title:after,
.pricingTable.pink .title:before {
    border-top: 15px solid #773667
}

@media only screen and (max-width:990px) {
    .pricingTable {
        margin-bottom: 30px
    }
}

/* ENd pricing 2 */