.bg-asistencia {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    opacity: .65 !important;
}

.text-asistencia {
    color: #AAE600 !important;
}

.bg-falta {
    background-color: rgb(235, 104, 100) !important;
    border-color: rgb(235, 104, 100) !important;
    opacity: .65 !important;
}

.text-falta {
    color: #FF0000 !important;
}

.bg-retardo {
    background-color: rgb(245, 230, 37) !important;
    border-color: rgb(245, 230, 37) !important;
    opacity: .65 !important;
}

.text-retardo {
    color: #FCC552 !important;
}

.bg-falta-justificada {
    background-color: rgb(245, 122, 0) !important;
    border-color: rgb(245, 122, 0) !important;
    opacity: .65 !important;
}

.text-falta-justificada {
    color: #FF0000 !important;
}



.accent-white {
    accent-color: white !important;
}




.vericaltext{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
   }





.btn-falta {
    width: 50px !important;
    height: 40px !important;
    padding: 0px !important;
    text-align: center !important;
    justify-content: center !important;
}

.btn-asistencia {
    width: 30px !important;
    height: 30px !important;
}


.swal2-popup .swal2-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #595959;
    font-size: 1.2em !important;
    font-weight: 300 !important;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}